@import "global.css";

.OptionsMenu {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: none;
    margin-top: 15vh;
}

.TopRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BottomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Option {
    background-color: var(--background-color);
    cursor: pointer;
    font-size: 25px;
    border: none;
}

.Option:hover {
    transition: 0.4s;
}

.SubOption {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.SubOption:hover {
    transition: 0.4s;
}
